<div class="pure-g">
  <div class="pure-u-1-6">
    <div class="image-container">
      <div class="image">
        <img src="/assets/images/person.png" alt="no photo available" class="w100px" />
        <div class="link-tos">
          {{link-to "Edit teacher" "teachers.edit" model}}
        </div>
        <div class="link-tos">
          {{link-to "List of all teachers" "teachers.index"}}
        </div>
      </div>
    </div>
  </div>
  <div class="pure-u-1-8">
    <p class="label">Name</p>
    <p class="text">{{model.fullName}}</p>
    <p class="label">Gender</p>
    <p class="text">{{model.gender}}</p>
    <p class="label">Grade</p>
    <p class="text">{{model.grade}}</p>
    {{#with model.classroom as classroom}}
      <p class="label">Classroom</p>
      <p class="text">{{link-to classroom.name 'classrooms.show' classroom}}</p>
    {{/with}}
  </div>
  <div class="pure-u-1-4">
    <div class="students-grid-heading">Students</div>
    <div class="students-grid">
      {{#each student in model.students}}
        <div class="student-tile">{{link-to student.fullName 'students.show' student}}</div>
      {{/each}}
    </div>
  </div>
</div>
